@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

body{
	margin: auto;
	width: 70%;
	background-image: url(images/background.png);
	background-repeat-y: no-repeat; 
	background-position-y: center; 
	background-size: 75px;
	font-family: 'Inter', sans-serif;

}

h1{
	padding: 10px; 
	text-align: center;
	color: white;
	background-color: black;
	border-radius: 15px;
}

.image{
	background: url(images/photo.png) no-repeat center center;
    background-size: 230px;
    height: 250px;
    width: 180px;
    border-radius: 100px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	margin: 30px;
}

h1, .container{
	-webkit-box-shadow: 7px 8px 18px -9px rgba(0,255,204,1);
	-moz-box-shadow: 7px 8px 18px -9px rgba(0,255,204,1);
	box-shadow: 7px 8px 18px -9px rgba(0,255,204,1);
}

body>ul {
	list-style: none;
	padding: 0;
}


.container {
	padding: 15px; 
    background: #b6d0e0;
    margin-bottom: 20px;
    border-radius: 15px;
}

.container .itemName{
    color: #3e0d3c;
    text-align: center;
}
.container .item{
    color: #f5e9f7;
}

.highlight
{
	color: white;
}

.form input,.form textarea{
	margin-bottom: 20px;
	border-radius: 12px;
	border: none;
	text-align: center;
}
.form input,.form textarea,.form button{
	width: 25%;
	padding: 5px;
}

.form button:hover{
	background-color: gray;
}

.hyperlink{
	text-align: center;
}

.hyperlink a{
	margin-left: auto;
  	margin-right: auto;
	padding: 10px;
	border-radius: 20px
}

.hyperlink a:link{
	text-decoration: none;
	background-color: black;
	color: white;
}

.hyperlink a:hover{
	text-decoration: none;
	background-color: #b6d0e0;
	color: white;
}

.hyperlink a:visited{
	text-decoration: none;
	background-color: #b6d0e0;
	color: white;
}